
#bodyDiv {
    margin: 0 auto;
    /* background: grey; */
    /* border: 4px solid red; */
    width: 960px;

}
/* creates grid inside header */
.headerGrid{
    display: grid;
    grid-template-columns: 61% 37%;
    width: 950px;
    grid-gap: 1em;
    margin: 0 auto;
    /* border: 4px solid green; */
}

/* .headerGrid{ */
    /* background: #eee; */
    /* padding: 1em;
    height: 70px;
} */

/* .headerGrid {
    background: #ddd;
} */
/* .headerGrid div:nth-child(even){
    background: #eee;
} */
#headLeft{
margin-top: 12px;
width: 300px;
/* height: 100px; */
/* background: red; */
/* padding-top: 6px; */
}
/* gets delicios and text to float next to image */
#headLeft img {
    margin-top: 4px;
    float: left;
    padding-right: 8px;
}

/* sets fon for delicious */
.headLeftText :nth-child(1) {
    
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    font-weight: 50;
    
}
.headLeftText :nth-child(2){
    color: gray;
    font-size: 12px;
    font-weight: bold;
    
}
/* needs to give the container wifth */
#headRight{
    width: 300px;
    padding-top: 30px;
    /* background: red; */
    padding-left: 10px;
}

#headRight ul li{
    
    margin-right: 2px;
    display: inline;
    float: left;
}

#headRight :nth-child(7) div{
    /* background: #eee; */
    width: 18px;
    height: 40px;
}
#headRight ul{
    margin-left: 60px;
}
#piping{
    margin-top: 30px;
    font-size: 19px;
    color: gray;
    
}
/* makes the title banner into a grid */
.titleBanner{
    /* background: #ddd; */
    /* border: 4px solid green; */

    display: grid;
    grid-template-columns: 69% 31%;
    width: 950px;
    grid-gap: 1em;
    margin-top: 52px;
}
/* #bannerLeft{
    background: red;
} */
#bannerLeft :nth-child(1){
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 6px;
}
#bannerLeft :nth-child(2){
    font-size: 16px;
    color: gray;
    /* font-family: 'Anton', sans-serif; */
}
#bannerRight p {
    /* font-size: 14px; */
    float: right;
    margin-top: 40px;
    margin-right: 78px;
    color: gray;
}
#bannerRight img{
    margin-top: 44px;
    margin-right: 5px;
    float: right;
}
#mainImg{
    /* margin-left: 16px; */
    margin-top: 24px;
}

#instructions{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    font-size: 19px;
    line-height: 1.6;
    margin-top: 28px;
    

    width: 900px;
    text-indent: 38px;
}
#instructions p {
    /* background-color: red; */
    padding: 0px;
    margin-top: 30px;
    color: plum;
}


.instructionCard{
    /* background: #ddd; */
    display: grid;
    grid-template-columns: 30% 30%;
    background-image: url("/assets/list-bg.png");
    background-repeat: no-repeat;
    /* margin-left: 16px; */
    /* border: 4px solid black; */
    width: 960px;
    height: 300px;
}
/* #instructionsLeft {
background: red;
height: 250px;
} */
#instructionsLeft ul  {
    list-style: square;
    margin-left: 70px;
    /* margin-top: 16px; */
    /* margin-bottom: 16px; */
    font-size: 24px;    
    /* background: blue; */
    width: 300px;
}
#instructionsRight ul {
    list-style: square;
    margin-left: 170px;
    width: 400px;
    /* margin-bottom: 18px; */
    /* background: red; */
    font-size: 24px;    

}
#instructionsRight ul :first-child{
    margin-top: 40px;

}
#instructionsLeft ul :first-child{
    margin-top: 40px;

}
.instructionCard div ul li{
margin-bottom: 8px;
font-family: 'Patrick Hand', cursive;
color: #7d6340
}
#instructionsRight ul :last-child{
    /* background: red; */
    list-style: none;
    /* font-size: 24px;     */

}
#bottomPiping{
    margin-top: 35px;
    color: gray;
}
.bottom{
    display: grid;
    grid-template-columns: 71% 28%;
    width: 920px;
    margin-top: 20px;
}

.bottom img{
    /* margin-left: 16px; */
    float:left;
    border-radius: 50%;
}

.bottom ul :nth-child(1){
    float: left;
    /* background: red; */
    font-weight: bold;
    font-size: 20px;
}
.bottom ul :nth-child(2){
    float: left;
    margin-top: 20px;
    /* background: blue; */
}
#bottomRight{
    /* background: #da5b24; */
    /* background: red; */
    
}

#bottomRight p{
    color: white;
    font-size: 18px;
    background: #da5b24;
    width: 140px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left:30px;
    padding-right: 8px;
}


.bottomBorder{ 
margin: 0 auto;
/* border: 4px solid green; */
height: 100px;
width: 960px;

} 

 .bottomBorder :nth-child(1){
    border-top: 4px solid #f2f2f2; 
    /* margin-left: 16px; */
    margin-top: 80px;
    width: 420px;
    height: 40px;
    float: left; 
    } 
.bottomBorder :nth-child(2){
    /* border: 4px solid black; */
    margin-top: 60px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.bottomBorder :nth-child(3){
    border-top: 4px solid #f2f2f2; 
    
    width: 420px;
    height: 40px;
    margin-top: 80px;
    float: left;
}
#foot{
    color: gray;
    clear: both;
    /* border: 1px solid black; */
    width: 900px;
    /* margin: 0 auto; */

}
#foot :nth-child(1){
    /* text-indent: 28px; */
    /* background: #ddd; */
    width: 280px;
    margin: 0 auto;

}
#foot :nth-child(2){
    /* text-indent: 28px; */
    /* background: #ddd; */
    width: 196px;
    margin: 0 auto;

}