
#bodyDiv {
    margin: 0 auto;
    background: grey;
}
/* creates grid inside header */
.headerGrid{
    /* background: #ddd; */
    display: grid;
    grid-template-columns: 61% 37%;
    /* same affect as grid-gap */
    /* grid-column-gap: 1em;
    grid-row-gap: 1 em; */
    width: 960px;
    grid-gap: 1em;
}

.headerGrid{
    /* background: #eee; */
    padding: 1em;
    height: 70px;
}

.headerGrid {
    background: #ddd;
}
/* .headerGrid div:nth-child(even){
    background: #eee;
} */
#headLeft{
margin-top: 12px;
width: 300px;
/* height: 100px; */
background: red;
/* padding-top: 6px; */
}
/* gets delicios and text to float next to image */
#headLeft img {
    margin-top: 4px;
    float: left;
    padding-right: 8px;
}

/* sets fon for delicious */
.headLeftText :nth-child(1) {
    
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    font-weight: 50;
    
}
.headLeftText :nth-child(2){
    /* font-family: 'Yellowtail', cursive;
    margin: 1px; */
    font-size: 12px;
    font-weight: bold;
    
}
/* needs to give the container wifth */
#headRight{
    width: 300px;
    padding-top: 30px;
    /* background: red; */
    padding-left: 10px;
}

#headRight ul li{
    
    margin-right: 2px;
    display: inline;
    float: left;
}

#headRight :nth-child(7) div{
    /* background: #eee; */
    width: 18px;
    height: 40px;
}
#headRight ul{
    margin-left: 60px;
}
#piping{
    margin-top: 2px;
    font-size: 20px;
    margin-left: 18px;
}
/* makes the title banner into a grid */
.titleBanner{
    /* background: #ddd; */
    display: grid;
    grid-template-columns: 69% 31%;
    /* same affect as grid-gap */
    /* grid-column-gap: 1em;
    grid-row-gap: 1 em; */
    width: 960px;
    grid-gap: 1em;
    margin-left: 16px;
    margin-top: 52px;
}
/* #bannerLeft{
    background: red;
} */
#bannerLeft :nth-child(1){
    font-size: 44px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 6px;
}
#bannerLeft :nth-child(2){
    font-size: 16px;
    /* font-family: 'Anton', sans-serif; */
}
#bannerRight p {
    float: right;
    margin-top: 40px;
    margin-right: 78px;
}
#bannerRight img{
    margin-top: 44px;
    margin-right: 5px;
    float: right;
}
#mainImg{
    margin-left: 16px;
    margin-top: 30px;
}

#instructions{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    margin-left: 15px;
    margin-top: 28px;
    width: 900px;
    text-indent: 38px;
}

/* #listImg{
    margin-left: 15px;
} */

.instructionCard{
    background: #ddd;
    display: grid;
    grid-template-columns: 30% 30%;
    background-image: url("/assets/list-bg.png");
    background-repeat: no-repeat;
    margin-left: 16px;
    border-bottom: 4px solid black;
    width: 960px;
}
#instructionsLeft ul {
    list-style: square;
    margin-left: 70px;
    margin-top: 16px;
    
}
#instructionsRight ul {
    list-style: square;
    margin-left: 70px;
    width: 250px;
    margin-bottom: 40px;
}
.instructionCard div ul li{
margin-bottom: 8px;
margin-top: 16px;
/* margin-left: 80px; */
}
#instructionsRight ul :last-child{
    /* background: red; */
    list-style: none;
}
#bottomPiping{
    margin-top: 30px;
}
.bottom{
    display: grid;
    grid-template-columns: 71% 28%;
    width: 920px;
}

.bottom img{
    margin-left: 16px;
    float:left;
    border-radius: 50%;
}

.bottom ul :nth-child(1){
    float: left;
    background: red;
    font-weight: bold;
    font-size: 20px;
}
.bottom ul :nth-child(2){
    float: left;
    margin-top: 20px;
    background: blue;
}
#bottomRight{
    /* background: #da5b24; */
    background: red;
    
}

#bottomRight p{
    color: white;
    font-size: 18px;
    background: #da5b24;
    width: 140px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left:30px;
    padding-right: 8px;
}